@import '../index.css';

.article-profile-section {
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
}

.article-profile-section > h1, .article-profile-section > h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.article-profile-section > h1 {
  border-bottom: 2px solid var(--border);
}

.article-profile-section > h2 {
  font-size: 2rem;
  color: var(--border);
}

.article-description {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
  color: var(--border);
  align-items: center;
}

.article-description > span {
  color: var(--textMuted);
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.article-links {
  display: flex;
  justify-content: space-evenly;
}

.article-links a:hover {
  color: var(--border);
  cursor: pointer;
}

.article-stack {
  display: flex;
  border-left: 1px solid var(--border);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem;
}

.article-stack svg {
  color: var(--border);
}

.article-footer-links, .article-footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-top: 1px solid var(--border);
  text-transform: uppercase;
  font-style: italic;
}

.article-footer-copy {
  border-left: 1px solid var(--border);
  justify-content: center;
  text-align: center;
}

@media (max-width: 800px) {

  .article-profile-section > h1, .article-profile-section > h2 {
    font-size: 2rem;
}

  .article-profile-section > h2 {
    font-size: 1.75em;
    line-height: 1.5rem;
  }

  .article-description span {
    font-size: 1rem;
  }

  .article-links > a > svg, .article-stack > svg  {
    width: 60px;
    height: 60px;
  }

  .article-stack {
    padding: 2rem;
    width: 100vw;
  }

  .article-footer-links {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
